@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-border panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"></h3>
            </div>
            <div class="panel-body">
                <div class="jumbotron">
                    <h1>Sistema OIM</h1>
                    <p class="lead">One Integral Management</p>
                  
                </div>

                <div class="row" style="text-align: justify">
                    <div class="col-md-4">
                        <h2>Misión</h2>
                        <p>
                            Ofrecer los servicios de ingeniería especializada y desarrollo de soluciones integrales enfocadas a las necesidades particulares del cliente.

                        </p>
                    </div>
                    <div class="col-md-4">
                        <h2>Visión</h2>
                        <p>Ser una empresa innovadora y altamente productiva, suministrando consultoría  técnica especializada y desarrollando soluciones con tecnología propia para  la satisfacción de nuestros clientes.
                    </div>
                    <div class="col-md-4">
                        <h2>Valores</h2>
                        <p>Transcender y permanecer.
                            <br/>
                            Conseguimos resultados.
                            <br/>
                            Adaptacion.
                            <br/>
                            Integridad.
                            <br/>
                            Autogestión.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>