USE [master]
GO
/****** Object:  Database [DBOPSGI]    Script Date: 09/06/17 17:46:54 ******/
CREATE DATABASE [DBOPSGI]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBOPSGI', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQL16\MSSQL\DATA\DBOPSGI.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DBOPSGI_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQL16\MSSQL\DATA\DBOPSGI_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBOPSGI].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBOPSGI]
GO
/****** Object:  StoredProcedure [dbo].[PedidoMXSolicitud]    Script Date: 09/06/17 17:46:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PedidoMXSolicitud]
@IdSol int
AS
BEGIN
  -- routine body gSELEC
SELECT
dbo.TbPedidoM.IdSolicitud AS Folio,
dbo.TbCategoria.Nombre,
dbo.TbPedidoM.Descripcion,
dbo.TbUnidad.Nombre AS Unidad,
dbo.TbPedidoM.Cantidad,
dbo.TbPedidoM.IdSupervisor AS Autoriza,
dbo.TbPedidoM.Estatus,
dbo.TbPedidoM.Surtido,
dbo.TbFormato.Nombre AS Formato,
dbo.TbFormato.Descripcion as NombreFormato,
dbo.TbUsuario.Nombre AS Usuario,
dbo.TbArea.Nombre as Area

FROM
dbo.TbPedidoM

INNER JOIN dbo.TbSolicitud ON dbo.TbPedidoM.IdSolicitud = dbo.TbSolicitud.IdSolicitud
INNER JOIN dbo.TbFormato ON dbo.TbFormato.Id = dbo.TbSolicitud.IdFormato
INNER JOIN dbo.TbUsuario ON dbo.TbSolicitud.IdUsuario = dbo.TbUsuario.Id
INNER JOIN dbo.TbArea ON dbo.TbUsuario.Area = dbo.TbArea.Id
INNER JOIN dbo.TbUnidad ON dbo.TbPedidoM.IdUnidad = dbo.TbUnidad.Id
INNER JOIN dbo.TbCategoria ON dbo.TbPedidoM.IdCategoria = dbo.TbCategoria.Id


where (TbSolicitud.IdSolicitud =@IdSol)
 END-- SELECT 'Navicat for SQL Server'
GO
/****** Object:  StoredProcedure [dbo].[PedidosXSolicitud]    Script Date: 09/06/17 17:46:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PedidosXSolicitud]
@IdSol int
AS

BEGIN
   SET NOCOUNT ON; 
   select 
TbPedidoM.IdSolicitud AS Folio,
dbo.TbCategoria.Nombre,
dbo.TbPedidoM.Descripcion,
dbo.TbUnidad.Nombre AS Unidad,
dbo.TbPedidoM.Cantidad,
dbo.TbPedidoM.IdSupervisor AS Autoriza,
dbo.TbPedidoM.Estatus,
dbo.TbPedidoM.Surtido,
dbo.TbFormato.Nombre AS Formato,
dbo.TbFormato.Descripcion,
dbo.TbUsuario.Nombre AS Usuario,
dbo.TbArea.Nombre as Area

FROM
dbo.TbPedidoM

INNER JOIN dbo.TbSolicitud ON dbo.TbPedidoM.IdSolicitud = dbo.TbSolicitud.IdSolicitud
INNER JOIN dbo.TbFormato ON dbo.TbFormato.Id = dbo.TbSolicitud.IdFormato
INNER JOIN dbo.TbUsuario ON dbo.TbSolicitud.IdUsuario = dbo.TbUsuario.Id
INNER JOIN dbo.TbArea ON dbo.TbUsuario.Area = dbo.TbArea.Id
INNER JOIN dbo.TbUnidad ON dbo.TbPedidoM.IdUnidad = dbo.TbUnidad.Id
INNER JOIN dbo.TbCategoria ON dbo.TbPedidoM.IdCategoria = dbo.TbCategoria.Id


where (dbo.TbSolicitud.IdSolicitud =@IdSol)
  -- SELECT 'Navicat for SQL Server'
END

GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 09/06/17 17:46:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 09/06/17 17:46:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 09/06/17 17:46:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 09/06/17 17:46:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 09/06/17 17:46:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 09/06/17 17:46:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[FirstName] [nvarchar](500) NULL,
	[LastName] [nvarchar](500) NULL,
	[Nivel] [int] NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CustomersV1]    Script Date: 09/06/17 17:46:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomersV1](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CompantyName] [nvarchar](50) NOT NULL,
	[City] [nvarchar](50) NOT NULL,
	[EntryDate] [date] NOT NULL,
 CONSTRAINT [PK_CustomersV1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Supervisores]    Script Date: 09/06/17 17:46:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supervisores](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TbArea]    Script Date: 09/06/17 17:46:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TbArea](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TbCategoria]    Script Date: 09/06/17 17:46:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TbCategoria](
	[Id] [int] NOT NULL,
	[Nombre] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TbCategoriaRH]    Script Date: 09/06/17 17:46:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TbCategoriaRH](
	[Id] [int] NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Inicio] [int] NULL,
	[Fin] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TbCompras]    Script Date: 09/06/17 17:46:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbCompras](
	[Id] [int] NULL,
	[IdSolicitud] [int] NULL,
	[IdPedidoPersonal] [int] NULL,
	[IdPedidoMaterial] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TbEspecialidad]    Script Date: 09/06/17 17:46:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TbEspecialidad](
	[Id] [int] NOT NULL,
	[Nombre] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TbFormato]    Script Date: 09/06/17 17:46:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TbFormato](
	[Id] [int] NOT NULL,
	[Nombre] [varchar](255) NULL,
	[Descripcion] [varchar](255) NULL,
	[Revision] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TbPedidoM]    Script Date: 09/06/17 17:46:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TbPedidoM](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdSolicitud] [int] NOT NULL,
	[IdCategoria] [int] NOT NULL,
	[Descripcion] [varchar](255) NULL,
	[IdUnidad] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[IdSupervisor] [int] NOT NULL,
	[Estatus] [int] NOT NULL,
	[Surtido] [int] NOT NULL,
	[Dato] [int] NOT NULL,
 CONSTRAINT [PK__tmp_ms_x__3214EC076D8F738F] PRIMARY KEY CLUSTERED 
(
	[Id] ASC,
	[IdSolicitud] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TbPedidoPersonal]    Script Date: 09/06/17 17:46:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbPedidoPersonal](
	[Id] [int] NOT NULL,
	[IdTipoEspecialidad] [int] NULL,
	[IdProfesion] [int] NULL,
	[IdCategoriaRH] [int] NULL,
	[Cantidad] [int] NULL,
	[Supervisor] [int] NULL,
	[Estatus] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TbProfesion]    Script Date: 09/06/17 17:46:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TbProfesion](
	[Id] [int] NOT NULL,
	[Nombre] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TbSolicitud]    Script Date: 09/06/17 17:46:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbSolicitud](
	[IdSolicitud] [int] IDENTITY(1,1) NOT NULL,
	[IdFormato] [int] NOT NULL,
	[Fecha] [date] NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[TipoMaterialPersonal] [int] NULL,
 CONSTRAINT [PK_IdSol] PRIMARY KEY CLUSTERED 
(
	[IdSolicitud] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TbStatusAutorizacion]    Script Date: 09/06/17 17:46:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TbStatusAutorizacion](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TbUnidad]    Script Date: 09/06/17 17:46:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TbUnidad](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TbUsuario]    Script Date: 09/06/17 17:46:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TbUsuario](
	[Id] [int] NOT NULL,
	[Nombre] [varchar](255) NULL,
	[Area] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UsuariosOMI]    Script Date: 09/06/17 17:46:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuariosOMI](
	[Id] [nvarchar](128) NOT NULL,
	[FullName] [nvarchar](max) NULL,
	[Usuario] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Apellido] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.UsuariosOMI] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  View [dbo].[VUsuarioxArea]    Script Date: 09/06/17 17:46:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VUsuarioxArea] AS 
SELECT
dbo.TbUsuario.Id,
dbo.TbUsuario.Nombre,
dbo.TbArea.Nombre as Area

FROM
dbo.TbUsuario
INNER JOIN dbo.TbArea ON dbo.TbUsuario.Area = dbo.TbArea.Id

GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'1', N'Administrador')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'2', N'Gerente')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'89876b10-2bce-49ec-b6d7-e84d6bb23411', N'1')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'1e2b4df6-0a64-4d78-84af-c6d9a8d55f3b', N'2')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'22c0bc51-3274-453d-8102-56b351ebe804', N'2')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [FirstName], [LastName], [Nivel]) VALUES (N'1e2b4df6-0a64-4d78-84af-c6d9a8d55f3b', N'ovidio.lopezt@gmail.com', 0, N'AKOspvgtF4ZRwIT8NvUMXsKTUzNgokjBuudACpQtpmhjXmyBhaVKPaTkh47baRCqIw==', N'e6e6b7a0-27e9-41b7-abc4-98ee8518440d', NULL, 0, 0, NULL, 0, 0, N'OLopez', N'Ovidio', N'Lopez', 1)
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [FirstName], [LastName], [Nivel]) VALUES (N'22c0bc51-3274-453d-8102-56b351ebe804', N'CSierra@onepro.com.mx', 0, N'APgHqYuIESUDn5YqAp2so6UelysvPJCu/TIxFdJDj7iOYO0ugPe7V/LdsETF79CTpA==', N'4023d825-b237-487a-97b6-8896b7b5829f', NULL, 0, 0, NULL, 0, 0, N'CSierra', N'Carmen', N'Sierra', 2)
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [FirstName], [LastName], [Nivel]) VALUES (N'89876b10-2bce-49ec-b6d7-e84d6bb23411', N'Admin@onepro.com.mx', 0, N'AJodvCLQzEv86ntCirqB0y+f0gvkBZqsMUAht1tjEhX+b6pFxffl5K5DdaCPhCvIBA==', N'f012acfe-80c4-44a6-9afd-f30d2723b344', NULL, 0, 0, NULL, 0, 0, N'Admin', N'Admin', N'Admin', 1)
SET IDENTITY_INSERT [dbo].[CustomersV1] ON 

INSERT [dbo].[CustomersV1] ([ID], [CompantyName], [City], [EntryDate]) VALUES (1, N'ovidio', N'Nacajuca', CAST(0xE53C0B00 AS Date))
SET IDENTITY_INSERT [dbo].[CustomersV1] OFF
SET IDENTITY_INSERT [dbo].[Supervisores] ON 

INSERT [dbo].[Supervisores] ([Id], [IdUsuario]) VALUES (1, 2)
SET IDENTITY_INSERT [dbo].[Supervisores] OFF
SET IDENTITY_INSERT [dbo].[TbArea] ON 

INSERT [dbo].[TbArea] ([Id], [Nombre]) VALUES (1, N'Administracion')
INSERT [dbo].[TbArea] ([Id], [Nombre]) VALUES (2, N'Comercializacion')
INSERT [dbo].[TbArea] ([Id], [Nombre]) VALUES (3, N'Ejecucion de Proyectos')
SET IDENTITY_INSERT [dbo].[TbArea] OFF
INSERT [dbo].[TbCategoria] ([Id], [Nombre]) VALUES (0, N'Otros')
INSERT [dbo].[TbCategoria] ([Id], [Nombre]) VALUES (1, N'Papeleria')
INSERT [dbo].[TbCategoria] ([Id], [Nombre]) VALUES (2, N'Equipo de Computo')
INSERT [dbo].[TbCategoriaRH] ([Id], [Nombre], [Inicio], [Fin]) VALUES (1, N'Categoria A', 0, 5)
INSERT [dbo].[TbEspecialidad] ([Id], [Nombre]) VALUES (1, N'Diseñador')
INSERT [dbo].[TbEspecialidad] ([Id], [Nombre]) VALUES (2, N'Procesos Quimicos')
INSERT [dbo].[TbFormato] ([Id], [Nombre], [Descripcion], [Revision]) VALUES (1, N'FI_IN_01', N'Formato de Solicitud de requerimiento de producto y/o servicio', 0)
INSERT [dbo].[TbFormato] ([Id], [Nombre], [Descripcion], [Revision]) VALUES (2, N'FC_CM_04', N'Formato de Solicitud de Compra', 0)
INSERT [dbo].[TbFormato] ([Id], [Nombre], [Descripcion], [Revision]) VALUES (3, N'FI_RH_02', N'Formato de Solicitud de Recursos Humanos', 0)
SET IDENTITY_INSERT [dbo].[TbPedidoM] ON 

INSERT [dbo].[TbPedidoM] ([Id], [IdSolicitud], [IdCategoria], [Descripcion], [IdUnidad], [Cantidad], [IdSupervisor], [Estatus], [Surtido], [Dato]) VALUES (41, 1, 1, N'fff', 7, 1, 1, 3, 1, 1)
INSERT [dbo].[TbPedidoM] ([Id], [IdSolicitud], [IdCategoria], [Descripcion], [IdUnidad], [Cantidad], [IdSupervisor], [Estatus], [Surtido], [Dato]) VALUES (47, 1, 1, N'lapicero azul', 9, 5, 1, 2, 1, 1)
INSERT [dbo].[TbPedidoM] ([Id], [IdSolicitud], [IdCategoria], [Descripcion], [IdUnidad], [Cantidad], [IdSupervisor], [Estatus], [Surtido], [Dato]) VALUES (48, 1, 1, N'papel bond tamaño carta', 7, 5, 1, 1, 1, 1)
SET IDENTITY_INSERT [dbo].[TbPedidoM] OFF
INSERT [dbo].[TbProfesion] ([Id], [Nombre]) VALUES (1, N'Diseñador')
INSERT [dbo].[TbProfesion] ([Id], [Nombre]) VALUES (2, N'Ingeniero Quimico')
SET IDENTITY_INSERT [dbo].[TbSolicitud] ON 

INSERT [dbo].[TbSolicitud] ([IdSolicitud], [IdFormato], [Fecha], [IdUsuario], [TipoMaterialPersonal]) VALUES (1, 1, CAST(0xE53C0B00 AS Date), 2, 0)
INSERT [dbo].[TbSolicitud] ([IdSolicitud], [IdFormato], [Fecha], [IdUsuario], [TipoMaterialPersonal]) VALUES (2, 1, CAST(0xE73C0B00 AS Date), 2, 1)
SET IDENTITY_INSERT [dbo].[TbSolicitud] OFF
SET IDENTITY_INSERT [dbo].[TbStatusAutorizacion] ON 

INSERT [dbo].[TbStatusAutorizacion] ([Id], [Nombre]) VALUES (1, N'Pendiente')
INSERT [dbo].[TbStatusAutorizacion] ([Id], [Nombre]) VALUES (2, N'Autorizado')
INSERT [dbo].[TbStatusAutorizacion] ([Id], [Nombre]) VALUES (3, N'Rechazado')
SET IDENTITY_INSERT [dbo].[TbStatusAutorizacion] OFF
SET IDENTITY_INSERT [dbo].[TbUnidad] ON 

INSERT [dbo].[TbUnidad] ([Id], [Nombre]) VALUES (1, N'Otro')
INSERT [dbo].[TbUnidad] ([Id], [Nombre]) VALUES (6, N'Paquetes')
INSERT [dbo].[TbUnidad] ([Id], [Nombre]) VALUES (7, N'Cajas')
SET IDENTITY_INSERT [dbo].[TbUnidad] OFF
INSERT [dbo].[TbUsuario] ([Id], [Nombre], [Area]) VALUES (1, N'Administrador', 1)
INSERT [dbo].[TbUsuario] ([Id], [Nombre], [Area]) VALUES (2, N'Carmen Sierra Valencia', 3)
SET ANSI_PADDING ON

GO
/****** Object:  Index [RoleNameIndex]    Script Date: 09/06/17 17:46:54 ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 09/06/17 17:46:54 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 09/06/17 17:46:54 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_RoleId]    Script Date: 09/06/17 17:46:54 ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 09/06/17 17:46:54 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UserNameIndex]    Script Date: 09/06/17 17:46:54 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  DEFAULT ((0)) FOR [Nivel]
GO
ALTER TABLE [dbo].[TbPedidoM] ADD  DEFAULT ((1)) FOR [IdCategoria]
GO
ALTER TABLE [dbo].[TbPedidoM] ADD  DEFAULT ((1)) FOR [IdUnidad]
GO
ALTER TABLE [dbo].[TbPedidoM] ADD  DEFAULT ((1)) FOR [Cantidad]
GO
ALTER TABLE [dbo].[TbPedidoM] ADD  DEFAULT ((1)) FOR [IdSupervisor]
GO
ALTER TABLE [dbo].[TbPedidoM] ADD  DEFAULT ((1)) FOR [Estatus]
GO
ALTER TABLE [dbo].[TbPedidoM] ADD  DEFAULT ((1)) FOR [Surtido]
GO
ALTER TABLE [dbo].[TbPedidoM] ADD  DEFAULT ((1)) FOR [Dato]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Supervisores]  WITH CHECK ADD  CONSTRAINT [id_usuario_fk] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[TbUsuario] ([Id])
GO
ALTER TABLE [dbo].[Supervisores] CHECK CONSTRAINT [id_usuario_fk]
GO
ALTER TABLE [dbo].[TbCompras]  WITH CHECK ADD  CONSTRAINT [IdSolicitud_fk] FOREIGN KEY([IdSolicitud])
REFERENCES [dbo].[TbSolicitud] ([IdSolicitud])
GO
ALTER TABLE [dbo].[TbCompras] CHECK CONSTRAINT [IdSolicitud_fk]
GO
ALTER TABLE [dbo].[TbPedidoM]  WITH CHECK ADD  CONSTRAINT [IdCategoria_fk] FOREIGN KEY([IdCategoria])
REFERENCES [dbo].[TbCategoria] ([Id])
GO
ALTER TABLE [dbo].[TbPedidoM] CHECK CONSTRAINT [IdCategoria_fk]
GO
ALTER TABLE [dbo].[TbPedidoM]  WITH CHECK ADD  CONSTRAINT [IdSol_fk] FOREIGN KEY([IdSolicitud])
REFERENCES [dbo].[TbSolicitud] ([IdSolicitud])
GO
ALTER TABLE [dbo].[TbPedidoM] CHECK CONSTRAINT [IdSol_fk]
GO
ALTER TABLE [dbo].[TbPedidoM]  WITH CHECK ADD  CONSTRAINT [idSupervisor_fk] FOREIGN KEY([IdSupervisor])
REFERENCES [dbo].[Supervisores] ([Id])
GO
ALTER TABLE [dbo].[TbPedidoM] CHECK CONSTRAINT [idSupervisor_fk]
GO
ALTER TABLE [dbo].[TbPedidoM]  WITH CHECK ADD  CONSTRAINT [IdUnidad_fk] FOREIGN KEY([IdUnidad])
REFERENCES [dbo].[TbUnidad] ([Id])
GO
ALTER TABLE [dbo].[TbPedidoM] CHECK CONSTRAINT [IdUnidad_fk]
GO
ALTER TABLE [dbo].[TbPedidoM]  WITH CHECK ADD  CONSTRAINT [Status_fk] FOREIGN KEY([Estatus])
REFERENCES [dbo].[TbStatusAutorizacion] ([Id])
GO
ALTER TABLE [dbo].[TbPedidoM] CHECK CONSTRAINT [Status_fk]
GO
ALTER TABLE [dbo].[TbPedidoPersonal]  WITH CHECK ADD  CONSTRAINT [IdCategoriaRH_fk] FOREIGN KEY([IdCategoriaRH])
REFERENCES [dbo].[TbCategoriaRH] ([Id])
GO
ALTER TABLE [dbo].[TbPedidoPersonal] CHECK CONSTRAINT [IdCategoriaRH_fk]
GO
ALTER TABLE [dbo].[TbPedidoPersonal]  WITH CHECK ADD  CONSTRAINT [IdEspecialidad_fk] FOREIGN KEY([IdTipoEspecialidad])
REFERENCES [dbo].[TbEspecialidad] ([Id])
GO
ALTER TABLE [dbo].[TbPedidoPersonal] CHECK CONSTRAINT [IdEspecialidad_fk]
GO
ALTER TABLE [dbo].[TbPedidoPersonal]  WITH CHECK ADD  CONSTRAINT [IdProfesion_fk] FOREIGN KEY([IdProfesion])
REFERENCES [dbo].[TbProfesion] ([Id])
GO
ALTER TABLE [dbo].[TbPedidoPersonal] CHECK CONSTRAINT [IdProfesion_fk]
GO
ALTER TABLE [dbo].[TbSolicitud]  WITH CHECK ADD  CONSTRAINT [IdFormato_fk] FOREIGN KEY([IdFormato])
REFERENCES [dbo].[TbFormato] ([Id])
GO
ALTER TABLE [dbo].[TbSolicitud] CHECK CONSTRAINT [IdFormato_fk]
GO
ALTER TABLE [dbo].[TbSolicitud]  WITH CHECK ADD  CONSTRAINT [IdUsuario_fk] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[TbUsuario] ([Id])
GO
ALTER TABLE [dbo].[TbSolicitud] CHECK CONSTRAINT [IdUsuario_fk]
GO
ALTER TABLE [dbo].[TbUsuario]  WITH CHECK ADD  CONSTRAINT [AreaId] FOREIGN KEY([Area])
REFERENCES [dbo].[TbArea] ([Id])
GO
ALTER TABLE [dbo].[TbUsuario] CHECK CONSTRAINT [AreaId]
GO
USE [master]
GO
