<div class="row">
    <div class="col-md-12">
        <div class="panel panel-border panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Sistema OIM</h3>
            </div>
            <div style="text-align: center">
                <h1>
                    <span>
                        ORGANIGRAMA INTERNO DE TRABAJO
                        <br />
                        INGENIERÍA APLICADA ONEPRO

                    </span>
                </h1>
            </div>

            <div class="crop-img" >
                  <img  src="@Url.Content("~/Images/organigrama.png")" style="float:left;clear:left;" alt="imgf" />
        
            </div>
        </div>
    </div>
</div>