@{
    ViewBag.Title = "Organizacíon - Organigrama Interno";
}<div class="row">
    <div class="col-md-12">
        <div  id="imprimir" class="panel panel-border panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title"><i class="fa fa-pencil-square fa-2x" aria-hidden="true"></i>&nbsp;&nbsp;@ViewBag.Title</h4>
            </div>
            <div class="panel-body">
                <div style="text-align: center">
                    <h1>
                        <span>
                            ORGANIGRAMA INTERNO DE TRABAJO
                            <br />
                            INGENIERÍA APLICADA ONEPRO

                        </span>
                    </h1>
                </div>

                <div class="crop-img" style="text-align: center;">
                    <img  src="@Url.Content("~/Images/organigrama.png")"  alt="imgf" />
        
                </div>
            </div>
        </div>
    </div>
</div>
