
@{
    ViewBag.Title = "Organizacíon - Reglamento Interno";
}

<div class="row">
<div class="col-md-12">
    <div  id="imprimir" class="panel panel-border panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title"><i class="fa fa-pencil-square fa-2x" aria-hidden="true"></i>&nbsp;&nbsp;@ViewBag.Title</h4>
        </div>
        <div class="panel-body">
            <div style="text-align: center">
                <h2><span>REGLAMENTO INTERNO DE TRABAJO
                    <br/>
                        INGENIERÍA APLICADA ONEPRO

                    </span>
                </h2>
            </div>
            <br/>
                <p>
                  
                    Ingeniería Aplicada OnePro sostiene un Código de Ética transparente que forma parte de la consolidación de la filosofía que rige a la empresa. 

                    Dentro de sus lineamientos, el reglamento interno de trabajo tiene por objeto el mantenimiento del orden y la disciplina dentro del entorno de trabajo para aportar a un ambiente sano y seguro a todos sus integrantes; por lo que NO se permite:

                  
                </p>
                <br/>
                <ul style="list-style: none; ">
                    <li> 1 Divulgar información confidencial relativa a procesos, métodos, estrategias, planes, proyectos, datos técnicos, de mercado o de cualquier otro tipo.

                    <li>
                        2 Cualquier incumplimiento o Acto no considerado en la Planificación de los servicios que ponga en riesgo la Calidad de los trabajos propiedad del cliente o de la Empresa.
                    </li>
                    <li>
                        4 Cualquier incumplimiento a los lineamientos del cuidado del ambiente o cualquier Acto que afecte la preservación ambiental.
                    </li>
                    <li>
                        5 El Conflicto de Intereses, en la conducción de sus responsabilidades profesionales y en sus acciones personales.
                    </li>
                    <li>
                        6 Cualquier incumplimiento a los lineamientos de Salud y Seguridad o cualquier Acto que ponga en riesgo la salud y seguridad propia o de las personas, así como Acoso laboral, sexual, introducir bebidas Alcohólicas, drogas, fumar dentro de las instalaciones y negarse a participar en evacuaciones o simulacros con fines de seguridad.
                    </li>
                    <li>
                        7 Utilizar el mobiliario y las herramientas de trabajo para fines distintos al desempeño de sus labores; así como instalar en las computadoras software ajenos a la Empresa.
                    </li>
                    <li>
                        8 Discriminar a las personas por razones de género, estado civil, edad, religión, raza, opinión política, clase social o económica, embarazo, lengua, origen étnico, nacionalidad, preferencia sexual o discapacidad.
                    </li>
                    <li>
                        9 Permitir la entrada a las instalaciones o centros de trabajo de la Empresa así como el uso del equipo a personas ajenas a la misma sin previa autorización de un supervisor facultado.
                    </li>
                    <li>
                        10 Portar armas de cualquier clase dentro de la Empresa o en los vehículos propiedad de la misma y tomar cualquier tipo de represalia o incurrir en actos de intimidación con motivo del trabajo.
                    </li>
                </ul>
                <p id="firma" ><span>
                            Juan Cruz Velázquez

                        </span><br />
                    Director
                </p>
                
                </div>
        </div>
    </div>
</div>
